{#[templates/blog/post_list]#}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doreviateam Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Doreviateam Blog</a></h1>
    </div>

    <div>
        <p>published: 05.11.2017 12:02</p>
        <h2><a href="">Premier Post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, doloremque ducimus esse fuga
            laudantium modi nostrum quam qui voluptatem? Adipisci beatae dolor laudantium necessitatibus optio qui
            quibusdam sed veritatis!</p>
    </div>

    <div>
        <p>published: 05.11.2017 12:02</p>
        <h2><a href="">Deuxième Post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, doloremque ducimus esse fuga
            laudantium modi nostrum quam qui voluptatem? Adipisci beatae dolor laudantium necessitatibus optio qui
            quibusdam sed veritatis!</p>
    </div>
</body>
</html>

